# Build output
build/bin
build/windows
*.dmg

# Cache
*.md5

# Frontend
node_modules
frontend/dist
frontend/wailsjs

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go
*.exe
*.test
*.out

# Debug
debug
*.log
